## Prediction

### Import Library

In [1]:
import pandas as pd

### Read Files

In [2]:
df = pd.read_csv("C:\\Users\\Adin\\PYTHON\\klasifikasi\\dataset_test.csv")
df.head(2)

,itemID,manufacturerID,price,customerID,age,delivery_time,accountAge,orderYear,orderMonth,return_customerID,...,state_Hesse,state_Lower Saxony,state_Mecklenburg-Western Pomerania,state_North Rhine-Westphalia,state_Rhineland-Palatinate,state_Saarland,state_Saxony,state_Saxony-Anhalt,state_Schleswig-Holstein,state_Thuringia
0,2347,1,89.9,12489,50.0,2.0,617,2013,4,0.333333,...,1,0,0,0,0,0,0,0,0,0
1,2741,1,99.9,12489,50.0,2.0,617,2013,4,0.333333,...,1,0,0,0,0,0,0,0,0,0

### Melihat data null

In [3]:
cek = df.isna().sum()
print(cek[:30])

itemID                           0
manufacturerID                   0
price                            0
customerID                       0
age                              0
delivery_time                    0
accountAge                       0
orderYear                        0
orderMonth                       0
return_customerID            17507
not_return_customerID        17507
return_deliveryTime              0
not_return_deliveryTime          0
return_itemID                   13
not_return_itemID               13
return_manufacturerID            0
not_return_manufacturerID        0
return_state                     0
not_return_state                 0
price_itemID                    13
salutation_Company               0
salutation_Family                0
salutation_Mr                    0
salutation_Mrs                   0
salutation_not reported          0
size_L                           0
size_M                           0
size_S                           0
size_UNSIZED                     0
size_XL                          0
dtype: int64

### Data baru pada data order_class diisi 0

In [4]:
df["return_customerID"] = df["return_customerID"].fillna(0)
df["not_return_customerID"] = df["not_return_customerID"].fillna(0)
df["return_itemID"] = df["return_itemID"].fillna(0)
df["not_return_itemID"] = df["not_return_itemID"].fillna(0)
df["price_itemID"] = df["price_itemID"].fillna(0)

### Prediksi atribut returnShipment

In [5]:
import pickle
with open('C:\\Users\\Adin\\PYTHON\\klasifikasi\\hasil1_revisi.pickle', 'rb') as fp:
     X_train_column = list(pickle.load(fp))
df = df[X_train_column]
df.columns

import joblib
clf = joblib.load("C:\\Users\\Adin\\PYTHON\\klasifikasi\\hasil1_revisi.joblib")
clf.predict(df)

i = 1
with open("C:\\Users\\Adin\\PYTHON\\klasifikasi\\orders_class.txt", "w") as o:
    print("{0};{1}".format("orderItemID", "prediction"), file = o)
    for line in clf.predict(df):
        print("{0};{1}".format(i, line), file=o)
        i+=1

In [6]:
# Melihat hasil prediksi
dfhasil = pd.read_table("C:\\Users\\Adin\\PYTHON\\klasifikasi\\orders_class.txt", delimiter=";")
dfhasil["prediction"].value_counts()

1    25995
0    24083
Name: prediction, dtype: int64